.App {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  background: #eee url(./images/body-bg7.png);
  /* background-color: #eeeeee; */
  /* background-color: #eee; */
}

.header {
  top: 0;
  height: 45px;
  display: flex;
  align-items: center;
  width: 100%;
  position: absolute;
  background: #eee url(./images/body-bg7.png);
  box-shadow: 2px 2px 10px #ccc;
}

.logo {
  position: absolute;
  height: 30px;
  left: 30px;
}

.logo-text {
  position: absolute;
  left: 55px;
  color: #00adb5;
  font-family: "Roboto";
  font-weight: 400;
  top: 5px;
  background: #fff;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 23px;
}

.avatar {
  position: absolute;
  right: 30px;
}

.avatar-name {
  right: 75px;
  position: absolute;
  color: rgba(0, 0, 0, 0.6);
}

.watch {
  box-shadow: inset 1px 2px 20px #171b21;
  font-size: 5em;
  font-weight: 100;
  color: #eee;
  /* color: #222831; */
  margin: 0;
  padding: 0.2em 0;
  /* background-color: #222831; */
  background: #000 url(./images/body-bg7.png);
  width: 100%;
  /* border: 1px solid #eee; */
  border: 1px solid #222831;
  /* border-radius: 3px 3px 0 0; */
}

.menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 50px;
  /* border: 1px solid #eee; */
  border: 1px solid #00adb5;
  overflow: hidden;
  margin-top: 15px;
  border-radius: 5px;
}

.menu span {
  flex: 1;
  height: 100%;
}

.btn {
  background: none;
  border: none;
  width: 100%;
  flex: 1;
  height: 100%;
  font-size: 30px;
  /* color: #eee; */
  color: #00adb5;
  font-family: "Roboto";
  font-weight: 300;
  transition: background 0.1s ease;
  cursor: pointer;
  padding: 0;
}

.first {
  /* border-right: 1px solid #eee; */
  border-right: 1px solid #00adb5;
}

.btn:hover {
  /* background: #eee;
  color: #222831; */
  /* background: #00adb5; */
  background: #00adb5 url(./images/body-bg7.png);
  color: #eee;
}

.btn:focus {
  outline: none;
  /* background: #df334e;
  color: #eee; */
}

.copy-right {
  position: absolute;
  bottom: 0;
  letter-spacing: 1px;
}

.copy-right ion-icon {
  color: #ff3030;
  margin: 0 2px -2px 2px;
}

.copy-right span {
  font-family: "Dancing Script";
  font-size: 35px;
  margin: 0 5px;
}
